= simple_form_for @tracker do |f|
  = f.input :name
  = f.input :url
  = f.input :login
  = f.input :password
  = link_to_add_fields :tracker_categories, f
  .nested_fields
    = f.simple_fields_for :tracker_categories do |fo|
      = render "tracker_category_fields", :f => fo
  = f.button :submit