%tr[f.object]
  %td= media_category_select f
  %td= f.text_field :name_on_tracker
  %td= f.text_field :allowed_keywords
  %td= f.text_field :disallowed_keywords
  %td.seeders= f.text_field :min_seeders
  %td.actions= link_to_remove_fields f