- if torrents.for_tracker(tracker).for_category(media_category).any?
  .spoiler.expanded[media_category]
    %h3.caption
      %span.toggler
      %span= media_category.name
    .tbl.content
      %table
        - table_header(tracker, media_category) do |t|
          = t.column check_box_tag(media_category.id, 1, false, :class => "select_media_category_torrents", :id => "select_media_category_#{media_category.id}_torrents"), :class => "checkbox"
          = t.sortable_column :title, :searchable => true
          = t.sortable_column :seeders
          = t.sortable_column :size
          = t.column
        %tbody
          = render torrents_for_tracker_and_media_category(tracker, media_category)