- if @torrents.for_tracker(tracker).for_category(media_category).any?
  %div{ "data-url" => sort_torrents_path(tracker.id, media_category.id), :class => "media_category" }
    %h3= media_category.name
    %div.tbl
      %table
        %thead
          %tr
            = sortable_column_header :title
            = sortable_column_header :seeders
            = sortable_column_header :size
            = non_sortable_column_header
        %tbody
          = render :partial => "torrent", :collection => @torrents.for_tracker(tracker).for_category(media_category)