- if @torrents.for_tracker(tracker).for_category(media_category).any?
  %div.media_category
    %h3= media_category.name
    %div.tbl
      %table{ "data-url" => sort_torrents_path(tracker.id, media_category.id) }
        %thead
          %tr
            = sortable_column_header :title
            = sortable_column_header :seeders
            = sortable_column_header :size
            = non_sortable_column_header
        %tbody
          = render @torrents.for_tracker(tracker).for_category(media_category)