!!! 5
%html
  %head
    %title TorrentScraper
    = stylesheet_link_tag :all
    = yield :stylesheets if content_for?(:stylesheets)
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.cookie.js"
    = yield :javascripts if content_for?(:javascripts)
    = csrf_meta_tag
  %body
    #wrapper
      #navigation
        = render "common/nav"
        = yield :navigation
      = yield
    #loading
      %img{ :src => "/images/loading.gif", :alt => "Loading..." }