!!! 5
%html
  %head
    %title TorrentScraper
    = stylesheet_link_tag "general.css"
    = yield :stylesheets if content_for?(:stylesheets)
    :javascript
      JSCLASS_PATH = "external/JS.Class"
    = javascript_include_tag :defaults, "external/jquery.cookie", "external/JS.Class/loader-browser", "external/JS.Class/core"
    = yield :javascripts if content_for?(:javascripts)
    = csrf_meta_tag
  %body
    #wrapper
      #navigation
        = render "common/nav"
        = yield :navigation
      #messages
        = yield :messages if content_for?(:messages)
      = yield
    #loading
      %img{ :src => "/images/loading.gif", :alt => "Loading..." }